.text-shadow {
  text-shadow: 0 1px 1px 0 #555555;
  -moz-text-shadow: 0 1px 1px 0 #555555;
  -webkit-text-shadow: 0 1px 1px 0 #555555;
  -o-text-shadow: 0 1px 1px 0 #555555;
}
body {
  transition: all 2s;
  font-family: Arial;
  background: #ffffff;
  padding-top: 100px!important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.5em;
}
body .home-page-image {
  padding-top: 150px;
}
body.no-background .left-content {
  text-align: justify;
}
a {
  text-decoration: none;
  color: #3b5998;
}
a:hover {
  text-decoration: none;
}
.container {
  text-align: center;
  max-width: 900px;
  background: white;
  padding: 0 10px;
}
.header {
  color: red;
  font-family: Impact;
  max-width: 700px;
  margin: 0 auto;
}
.black {
  color: #000000;
}
.blue {
  color: blue;
}
.uppercase {
  text-transform: uppercase;
}
.var1 .privacy a.wf-privacy {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
}
.var1 article.node {
  box-shadow: 0px 1px 10px 3px #bbb;
  padding: 0 10px;
  margin: 0 0 20px 0;
  border-radius: 0 0 10px 10px;
  border: 1px solid #bbb;
}
.var1 #webform {
  width: 400px;
  padding: 0 10px;
  background: #f8fccc;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 6px -2px #555555;
  -moz-box-shadow: 0 0 6px -2px #555555;
  -webkit-box-shadow: 0 0 6px -2px #555555;
  -o-box-shadow: 0 0 6px -2px #555555;
}
.var1 #webform .form-header {
  font-weight: bold;
  font-size: 14px;
}
.var1 #webform label.field-label {
  text-align: left;
}
.var1 #webform input[type="text"] {
  border-radius: 10px;
}
.style1 .header {
  text-transform: uppercase;
  color: red;
  margin: 40px auto;
  font-weight: normal;
}
#countdown {
  font-size: 50px;
  font-weight: bold;
  font-family: britannic bold;
  clear: both;
  line-height: 2;
}
.style1 .left-content {
  text-align: left;
}
.style1 .left-content .background {
  float: right;
  margin-left: 20px;
}
.style1 .left-content .body-content ul {
  margin: 0;
}
.style1 .left-content .body-content ul li {
  font-weight: bold;
  list-style-type: none;
  line-height: 1.5;
  background: url('image/check-list-20x20.png') no-repeat 0;
  padding: 5px 40px;
  font-size: 13px;
  margin: 0 0 10px 0;
  text-align: justify;
  color: #005580;
}
.style1 #webform {
  margin: 0 auto;
  background: #F5F5F5;
  box-shadow: 0 0 6px -2px #555555;
  -moz-box-shadow: 0 0 6px -2px #555555;
  -webkit-box-shadow: 0 0 6px -2px #555555;
  -o-box-shadow: 0 0 6px -2px #555555;
}
.style1 #webform .wf-box {
  padding: 0 0 10px;
}
.style1 #webform .form-header {
  font-weight: bold;
  padding: 10px 0 20px;
  color: #005580;
}
.style1 #webform .btn {
  margin-bottom: 10px;
}
.style1 #webform .field {
  padding: 20px 20px 0 20px;
}
.style2 .body-content {
  padding: 10px;
  border-radius: 20px;
}
.style2 .body-content .video-background {
  position: relative;
  margin-bottom: 10px;
  max-width: 100%;
  background: url('image/va2-images/monitor.png') no-repeat center;
  background-size: 90%;
  padding: 30px 0;
}
.style2 .body-content .video-background .video-image {
  width: 80%;
  margin-bottom: 7.3%;
}
.style2 .body-content .video-background .play-icon {
  position: absolute;
  top: 40%;
  left: 44%;
  opacity: 0.5;
}
.style2 .body-content .video-background .play-icon:hover {
  opacity: 1;
}
.style2 .body-content a.btn.btn-warning {
  padding: 20px 50px;
  font-size: 30px;
}
.style2 .header {
  max-width: 700px;
}
.style2 #myModal {
  max-width: 400px;
}
.style2 #myModal .close {
  color: #ffffff;
  background: #000000;
  opacity: 1;
  margin: -1px;
  padding: 10px;
}
.style2 #myModal.modal {
  left: 55%;
  background: #f8fccc;
}
.style2 #myModal .modal-body {
  overflow-y: inherit;
  padding: 0;
  border: 0;
}
.style2 #myModal .modal-header {
  padding: 20px 15px;
  border: 0;
}
.style2 #webform {
  width: 100%;
  margin: 0 auto;
}
.style2 .header {
  font-weight: normal;
}
.var4 #webform {
  background: #f8fccc;
  box-shadow: 0 0 6px -2px #555555;
  -moz-box-shadow: 0 0 6px -2px #555555;
  -webkit-box-shadow: 0 0 6px -2px #555555;
  -o-box-shadow: 0 0 6px -2px #555555;
}
html,
body {
  height: 100%;
}
.node-type-frame #popup {
  display: none;
  position: absolute;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0 0 6px -2px #000000;
  -moz-box-shadow: 0 0 6px -2px #000000;
  -webkit-box-shadow: 0 0 6px -2px #000000;
  -o-box-shadow: 0 0 6px -2px #000000;
}
.node-type-frame .modal-backdrop.fade.in {
  z-index: 99;
}
.node-type-frame #ExitSplashMainOuterLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0px;
  top: 0px;
}
.node-type-frame #ExitSplashMainOuterLayer #ExitSplashDiv {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}
.node-type-frame #ExitSplashMainOuterLayer #ExitSplashDiv iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#webform {
  max-width: 400px;
  padding: 0 10px;
  background: #f8fccc;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 6px -2px #555555;
  -moz-box-shadow: 0 0 6px -2px #555555;
  -webkit-box-shadow: 0 0 6px -2px #555555;
  -o-box-shadow: 0 0 6px -2px #555555;
}
#webform .wf-box {
  padding: 0 0 10px;
}
#webform .form-header {
  font-weight: bold;
  padding: 10px 0 20px;
  color: #005580;
}
#webform .btn {
  margin-bottom: 10px;
}
#webform .field {
  padding: 20px 20px 0 20px;
}
#webform .field label.field-label {
  text-align: left;
  font-weight: bold;
}
#webform .field label.error {
  color: red;
  font-weight: bold;
}
#webform .field input[type="text"] {
  max-width: 100%;
  padding: 5px 0 5px 10px;
}
.form-footer-text {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", serif;
}
.privacy {
  font-family: Georgia, "Times New Roman", serif;
  padding: 10px 0;
}
.privacy a.wf-privacy {
  color: goldenrod;
  font-weight: bold;
  background: url('image/padlock.png') no-repeat;
  padding: 5px 22px;
  font-size: 12px;
}
.flexslider {
  border: 0;
  margin-top: 20px;
  padding: 20px;
  background: #F1F1F1;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .flex-direction-nav a {
  padding: 10px 10px;
  font-size: 0;
  width: 20px;
  height: 20px;
  border: 3px double #B6B6B6;
  background: #F1F1F1;
  border-radius: 50%;
}
.flexslider .flex-direction-nav a:hover {
  background: #ddd;
}
.flexslider .flex-direction-nav a:active {
  background: #08c;
}
.flexslider .flex-direction-nav .flex-prev {
  left: -28px;
}
.flexslider .flex-direction-nav .flex-next {
  right: -28px;
}
.flexslider .flex-direction-nav .flex-prev,
.flexslider .flex-direction-nav .flex-next,
.flexslider .flex-direction-nav .flex-disabled {
  opacity: 1!important;
  cursor: pointer;
}
.flexslider .slides > li {
  margin-left: 20px;
}
@media (max-width: 979px) and (min-width: 767px) {
  .style2 .video-image {
    width: 622px;
    left: 40px;
    top: 44px;
  }
}
@media (max-width: 767px) {
  .var1 #webform,
  #webform {
    max-width: 500px;
    padding: 0;
  }
  .style2 #myModal.modal {
    max-width: 500px;
    left: 10%;
  }
  .style2 .body-content a.btn.btn-warning {
    padding: 15px 25px;
    font-size: 20px;
  }
  .header {
    font-size: 30px;
    font-weight: 500;
  }
  .container {
    width: auto;
  }
  body.no-background .left-content {
    background: none;
    padding: 0;
  }
  .span8.left-content .background {
    display: none;
  }
}
@media (max-width: 400px) {
  .var1 #webform,
  #webform {
    max-width: 100%;
    padding: 0;
  }
  .var1 #webform .btn,
  #webform .btn {
    font-size: 15px;
  }
  .style2 .body-content .video-background .play-icon {
    width: 20%;
  }
  .style2 #myModal.modal {
    left: 0;
  }
  .style2 .body-content a.btn.btn-warning {
    padding: 10px 10px;
    font-size: 20px;
  }
  .header {
    font-size: 20px;
    font-weight: 500;
  }
}
